
@font-face {
  font-family: 'Georgia';
  src: url('fonts/Georgia.eot?#iefix') format('embedded-opentype'),  url('fonts/Georgia.woff') format('woff'), url('fonts/Georgia.ttf')  format('truetype'), url('fonts/Georgia.svg#Georgia') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'Georgia';
  font-size: 12px;
  background: #fff;
}
a{
  text-decoration:none;
  color: #7c9c37;
}
@media all and (min-width: 1200px){
  .container{
    width: 990px;
  }
}

.top_area{
  padding:13px 0px;
}
.top_area span{
  color:#696969;
}
.search_form{
  width:210px;
  float:right;
  position:relative;
}
.search_form input{
  height:25px;
  border-radius:13px;
  background-color:#e1e1e1;
  border:none;
  width:210px;
  padding-left:10px;
}
.search_form button{
  position:absolute;
  right:6px;
  top:2px;
  border:none;
  width:20px;
  height:20px;
  border-radius:50%;
  background:#000;
  color:#d2d2d2;
  text-align: center;
  line-height: 20px;
  padding: 0px;
}
.header_area{
  background: #222;
  padding-top: 25px;
  padding-bottom: 23px;
  border-bottom: 2px solid #7c9c37;
}
.menu li a{
  border-right: 1px solid #828282;
  display: block;
  color: #fff;
  padding: 0px 16px;
}
.menu li a span{
  color: #cccccc;
  display: block;
}
.menu li:nth-child(6) a{
  border-right: 0px;
  padding-right: 0px;
}
.menu li a:hover{
  color: #7c9c37;
  text-decoration: none;
}
.menu .active a{
  color: #7c9c37;
  text-decoration: none;
}
.slider_area .item img{
  width: 100%;
}
.carousel-control img{
  position: absolute;
  top: 0%;
  bottom: 0%;
  margin:auto;
}
.quote_area h1{
  font-size: 28px;
  color: #333333;
  text-align: center;
  font-style: italic;
  margin: 50px 0px;
}
.quote_area{
  background: #fff url(images/border.png) no-repeat bottom center scroll;
  margin-bottom: 50px;
}
.services_area{
  background: #fff url(images/border.png) no-repeat bottom center scroll;
  padding-bottom: 50px;
  margin: 20px;
}
.service{
  background: #f0f0f0;
}
.service h2{
  color: #7c9c37;
  font-size: 18px;
  margin: 20px 15px;
}
.service p{
  color: #666666;
  margin: 0px 15px 0px 15px;
  padding-bottom: 20px;
}
.services_area .col-md-3{
  padding-left: 10px;
  padding-right: 10px;
}
.blog_row .col-md-6{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.blog_row .col-md-3{
  padding-left: 0px;
}
.blog_row .col-md-9{
  padding-left: 0px;
}
.blog_row h3{
  font-size: 14px;
  color: #7c9c37;
  margin-top: 0px;
}
.blog_area p{
  color: #666666;
  font-size: 13px;
}
.blog_title h3{
  color: #666666;
  font-size: 18px;
  margin: 0px;
}
.blog_title{
  overflow: hidden;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
}
.profile_area{
  padding: 10px 0px;
}
.footer_area {
  background: #222222;
  padding-top: 23px;
  padding-bottom: 30px;
}
.Footer_title h4{
  color: #666666;
  font-size: 12px;
}
